.Navbar{
  background-color: black;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  
}

.Navbar a{
  color: white;
  text-decoration: none;
  padding : 10px;
  font-size: 20px;
}


.Navbar .active{
  color:tomato;
  border: 1px solid greenyellow;
}

.products{
  background-color: aqua;
  /* width:300px; */
  
}


.products h3, p{
  color: white;
  font-size: 20px;
  text-align: center;
 
}

.apple{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.products img{
  width: 300px;
  height: 200px;
}


.nokia{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}